

@import url("https://fonts.googleapis.com/css?family=Montserrat:regular,500,600,700,900&display=swap");

$fontFamily: "Montserrat";
$fontSize: 16px;


$mainColor: #000;
$mainWhite : #fff;
$mainRed : #FF344D;

$minWidth: 610px;

$maxWidth: 1920px;

$maxWidthContainer: 1400px	;

$containerPadding: 30px;

$containerWidth: $maxWidthContainer+$containerPadding;


$pc: $containerWidth; 
$tablet: 991.98px;
$mobile: 767.98px; 
$mobileSmall:479.98px; 


$responsiveType: 1;

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: $fontFamily;
	font-size: $fontSize;
  }
  



body {
	background-color: $mainWhite;
	min-width: $minWidth;
	.lock & {
		overflow: hidden;
		touch-action: none;
	}

	.loaded & {
	}
}


.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;

	> main {
		flex: 1 1 auto;
	}

	> * {
		min-width: 0;
	}
}


	[class*="__container"] {
		@if ($maxWidthContainer>0) {
			max-width: $maxWidthContainer;
			box-sizing: content-box;
			margin: 0 auto;
		}
	}


